<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here! -->
<form action="" method="POST">
   <input type="text" name="quote" placeholder="Quote"/>
   <input type="text" name="author"  placeholder="Author"/>
   <input type="text" name="age"  placeholder="Age"/>
   <button type="submit" value="submit">Post</button>
</form>
 
</body>
</html>